@charset "UTF-8";
/*验证提示框*/
form label.error::before {
    display: none;
}
form label.error {
    position: absolute;
    line-height: 0.6rem;
    height: 0.6rem;
    color: #fff;
    padding: 0 0.2rem;
    border-radius: 0.08rem;
    background: #ff4747;
    top: -0.68rem;
}
/*内容开始*/
.content i{font-size: 0.2rem;}
.content{
    width: 65%;
    margin: 0 auto;
    border: none;
    margin: 0.8rem auto;
    /*background: red;*/
}
.content a{color: #fff;}
.register{
    width:4rem;
    /*border: 1px solid;*/
}

.register h3 {
   font-size:22px;
   font-weight:normal;
   text-align:left;
   width:4rem;
   padding-top:0.5rem;
   padding-bottom:0.2rem;
}
/*内容结束*/

/*登录表单开始*/
.find_form {
    width: 100%;
    /*border: 1px solid;*/
}

.find_form dd {
    position: relative;
    margin-bottom: 0.4rem;
}
.find_form .error{
    left:0px;
    font-size:12px;
}
.find_form .btn_box {
    height: 0.9rem;
    line-height: 0.9rem;
    margin: 0;
}
.find_form .get_code_box {
    font-size: 0;
}

.get-message{
    display:none;
}
.get-message.active{
    display:block;
}


.pass-box{
    position:absolute;
    /*border: 1px solid;*/
    width: 100%;
}
.pass-box input{
	width: 100%;
	height: 0.8rem;
	border: 0.5px solid #ccc;
}
.pass-box a{
    width:0.45rem;
    height:0.25rem;
    position:absolute;
    right:0.21rem;
    top:0.3rem;
    background:url(../image/look_icon.png) center center no-repeat;

}

.pass-box a.active{
    background:url(../image/look_icon_show.png) center center no-repeat;
    border-bottom: none;
}

/*找回手机或者邮箱输入框*/
.mobile_input {
    width: 5rem;
    height: 0.8rem;
    border: 1px solid #cccccc;
    font-size: 13px;
}

/*获取验证码输入框*/
.get_code_input {
    width: 3rem;
    height: 0.6rem;
    font-size: 13px;
    border: 1px solid #cccccc;
    vertical-align: top;
    margin-right:0.1rem;
}

/*验证码图片*/
.code_img {
    width: 1.5rem;
    height: 0.6rem;
    vertical-align: top;
    border: 1px solid #f0f0f0;
    margin-right:0.1rem;
}

/*重新获取验证码按钮*/
.get_code_btn {
    width: 0.7rem;
    height: 0.6rem;
    border: 1px solid #f0f0f0;
    background: url("../image/get_code.jpg") no-repeat;
    vertical-align: top;
    display: inline-block;
}

/*短信验证码输入框*/

.mes_input {
    width: 1.2rem;
    height: 0.6rem;
    font-size: 13px;
    border: 1px solid #cccccc;
    margin-right:0.1rem;
}

/*获取短信验证码按钮*/
.get_mes_btn {
    width: 1.2rem;
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    font-size: 13px;
    border: 1px solid #ff5252;
    color: #ff5252;
    display: inline-block;
    vertical-align: top;
}

/*提交按钮*/
.sub_btn {
    width: 80%;
    height: 0.8rem;
    line-height: 0.8rem;
    margin:0 auto;
    text-align: center;
    font-size: 16px;
    background-color: #ff5252;
    display: inline-block;
}

.sub_btn:hover {
    background-color: #ff4040;
}

/*验证提示*/
.check_tips {
    height: 0.6rem;
    line-height: 0.6rem;
    padding: 0 0.2rem;
    color: #fff;
    font-style: normal;
    position: absolute;
    left: -0.04rem;
    top: -0.8rem;
    background-color: #ff5252;
    border-radius: 5px;
    display: none; */

}

.check_tips i {
    width: 0.18rem;
    height: 0.08rem;
    position: absolute;
    left: 0.26rem;
    top: 0.66rem;
    text-indent: -999px;
    background: url(../image/bottom_bg.png)no-repeat;
}
.check_tips .active {
    display: block;
}

.agreement_box {
    /*border: 1px solid;*/
    text-align: center;
}
.agreement_box a {
    height: 0.425rem;
    line-height:0.425rem;
    font-size: 13px;
    text-decoration: underline;
    color: #204D74;
}

.btn_box{
	text-align: center;
	width: 100%;
}
/*找回密码表单结束*/

form em{
	position:relative;
	float:left;
	height:0.55rem;
	line-height:0.55rem;

}

.pwd_tips{
	font-size: 0.2rem;
	width: 100%;
	height:1.2rem ;
	margin-top: 0.2rem;
	border: none;
}
.pwd_tips h3{
	height: 0.4rem;
	line-height: 0.4rem;
}
.pwd_tips ol{
	overflow: hidden;
}
.pwd_tips ol li{
	width: 100%;
	height: 0.3rem;
	line-height: 0.3rem;
}
